:ruby
  @pagetitle = "Request #{@number}"
  @layouttype = 'custom'

.card.mb-3
  = render partial: 'tabs', locals: { request: @bs_request }
  .card-body
    = @pagetitle
    (#{@state})
    = description_wrapper(toggle_sliced_text(@req['description'], 300))
    = render partial: 'webui2/webui/request/actions', locals: { actions: @actions, request: @req }
    - if @superseding
      - @superseding.each do |supersed|
        - if supersed.comments.any?
          %h2
            %a.supersed_comments_link> Show outdated comments
            for superseded
            \#{link_to "request #{supersed.number}", number: supersed.number}
          .superseded_comments.hidden
            = render partial: 'webui2/webui/comment/show', locals: { commentable: supersed }

    #comments
      = render partial: 'webui2/webui/comment/show', locals: { commentable: @bs_request }

    = possibly_empty_ul id: 'review_descision_select', fallback: "<p><i>There's nothing to be done right now</i></p>".html_safe do
      - if @can_handle_request
        %li{ class: ('selected' if !@can_add_reviews || @my_open_reviews.empty?) }
          %a.review-descision-link#review-descision-link--1{ href: '#' } My Decision
      - @my_open_reviews.each do |open_review|
        Review for #{reviewer(open_review)}

    = render partial: 'recent_events_table'

= render partial: 'webui2/webui/request/package_maintainers_dialog', locals: { package_maintainers: @package_maintainers }

- content_for :ready_function do
  requestShowReview();
